# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# IDEs
.idea/
*.iml

# Misc
coverage/

# GitHub Pages
public/
